"AM_CFLAGS += %s \n\
AM_CXXFLAGS += %s \n\
AM_INCPATH += %s \n\
AM_LDFLAGS += %s \n\
AM_ASFLAGS += %s" \
"$INTERFACE_CFLAGS" \
"$INTERFACE_CXXFLAGS" \
"$INTERFACE_INCPATH" \
"$INTERFACE_LDFLAGS" \
"$INTERFACE_ASFLAGS"
